footer.footer
  .foot-links
    .container
      .sec
        h3 关于我们
        ul
          li: a(href="#{current.base}about.html") 关于云智易
          li: a(href="#{current.base}#contact-us") 商务合作
          li: a(href="http://www.lagou.com/gongsi/j46944.html" target="_blank") 招贤纳士
          li: a(href="#{current.base}#") 服务条款
      .sec
        h3 平台介绍
        ul
          li: a(href="#{current.base}platform.html#platform-summary") 平台概览
          li: a(href="#{current.base}platform.html#fuction-modules") 功能模块
          li: a(href="#{current.base}platform.html#advantages") 平台优势
          li: a(href="#{current.base}platform.html#embeded-sdks") 嵌入式SDK
          li: a(href="#{current.base}platform.html#app-sdk") APP SDK
          li: a(href="#{current.base}platform.html#application-scene") 应用场景
      .sec
        h3 解决方案
        ul
          li: a(href="#{current.base}solutions/smart-home.html") 智能家居
          li: a(href="#{current.base}solutions/appliance.html") 生活电器
          li: a(href="#{current.base}solutions/device-management.html") 设备管理
          li: a(href="#{current.base}solutions/wechat.html") 微信场景
          li: a(href="#{current.base}solutions/homekit.html") Homekit
          li: a(href="#{current.base}solutions/nest.html") nest
      .sec
        h3 联系我们
        dl
          dt 联系电话
          dd 020 - 89637760
          dd 020 - 34397761
          dt 电子邮箱
          dd bd@xlink.cn
      .sec.sec-qrcode
        h3 关注我们
        .qrcode
          img(src="#{current.base}images/qrcode_weixin.png", alt="云智易微信公众号")
          span 公众号：云智易
  .copyright
    .container
      p
        | Copyright &copy; 2014 云智易.
        a(href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=b7JvWfrcWMj1HMy01LtGB1Jb2SCKrpJnHJVhsLThVLj9VFcKmmLj!-774980588", target="_blank") 粤ICP备10202175号

