---
page_title: "客户案例"
stylesheets: ["case"]
body_class: ["case-page"]
cases:
  -
    thumb: "lidaxin_img.png"
    title: "立达信智能照明系统"
    desc: [
      "立达信专注于电子节能灯、LED灯具、智能照明等绿色照明产品研发、生产及销售，立达信、海德信和立莱为旗下三大自主照明品牌，平均每月出货量超过1000万只。",
      "云智易为立达信的智能照明产品的提供了全球化云端平台解决方案。 基于云智易平台,实现与Google Nest平台设备互联互通,打造了 温度与照明联动控制,拓展了海外市场应用。",
    ]
    logos: ["lidaxin_logo.png", "lidaxin_logo2.png"]
  -
    thumb: "jiashiqi.png"
    title: "智能加湿器"
    desc: [
      "智能加湿器运用WiFi技术，内置WiFi无线通讯模块，利用手机微信，无论远近随时随地都能用远距离智能控制家中的加湿器。配置上网后绑定连接，微信界面可控制加湿器的开关，调节雾量、设置定时功能以及缺水消息提醒。让你可以随时监控宝宝房、父母房、书房的加湿器雾量，全面监测家人加湿健康，轻松为他们调节合适的加湿雾，全面关怀您和家人的生活。"
    ]
    logos: ["deerma.png"]
  -
    thumb: "nuanfengji.png"
    title: "LifeSmart暖风机"
    desc: [
      "LifeSmart暖风机是一款基于wifi的智能暖风机设备，通过智能APP的控制终端实现对设备的定时开关机、暖风模式设定，温度设定以及实时采集环境温度达到节能的应用场景。云智易为产品提供了APP数据端到云端解决方案。基于云平台优势，实现设备内外网自动切换。对接国外客户，产品交互设计依用户特征量身订做。"
    ]
    logos: ["nuanfengji.png"]
  -
    thumb: "milknanny_img.png"
    title: "Milk Nanny智能冲奶机"
    desc: [
      "Milk Nanny智能冲奶机是一款可联网的自动冲奶机，支持联网搭配手机使用。在冲奶之前，在Milk Nanny的APP中输入了孩子出生日期，用APP扫描奶粉罐上的条形码，机器就自动为婴儿冲调合适的奶粉量。同时APP还可记录每天婴儿的饮食记录，帮助父母发现异常。云智易为智能冲奶机提供了WiFi通讯联网固件，以及云平台的整体解决方案。"
    ]
    logos: ["milknanny_logo.png"]
  -
    thumb: "mingchu.jpg"
    title: "智能商用厨房"
    desc: [
      "商用厨房设备的制造，以电能替代传统的燃油/燃气作为主要能源，打造低噪音、低能耗、无明火、低排放等节能低碳型绿色商用智能厨房产品。产品采用WiFi联网方式，需要进行对设备远程连接，状态数据监控；同时希望构建厨电设备远程服务系统。云智易实现了厨电产品云端联网需求，提供了商用智能厨房云端服务解决方案。"
    ]
    logos: ["mingchu.png"]
  -
    thumb: "yueme.jpg"
    title: "运营商 - 上海电信研究院"
    desc: [
      "“悦me”是中国电信为智慧家庭用户提供的家庭信息 化服务综合解决方案,悦me网关是智慧家庭的核心终端。",
      "该产品作为“光猫+智能路由器”的集合体,采用全新硬 件、外观及智能网关操作系统,并集成丰富设备接口和智能 应用,包括智能家居、智慧生活等;可满足中高端家庭用户 未来智能化的需求。"
    ]
    logos: ["yueme.png"]
  -
    thumb: "xinlianzhi.jpg"
    title: "芯联智智能家居套装"
    desc: [
      "微信智能家居系统采用zigbee连接方案，实现在微信端对zigbee网关、智能灯、插座、门磁、遥控器、报警器等一整套家庭设备的连接控制。云智易为产品提供了微信连接控制解决方案。基于平台技术优势，实现多协议硬件与微信间的互联互通以及设备服务能力。基于html5的形式，实现整套页面的调用。"
    ]
    logos: ["xinlianzhi.jpg"]
  -
    thumb: "zhinengcheng.png"
    title: "魔镜智能秤"
    desc: [
      "魔镜智能秤是一款基于低功耗蓝牙技术，匹配手机微信应用，根据你的身高、体重、性别，测量体内脂肪、水分含量、肌肉含量以及卡路里测量和提醒。",
      "智能感知，健康状况即站即知。脂肪率精准测量，专为亚洲人而设定标准，自动识别不同人的数据，记录身体健康信息，为您提供专业的体重管理服务和健康呵护建议。"
    ]
    logos: ["deerma.png"]
  -
    thumb: "aiyiji_img.png"
    title: "爱易记智能药盒"
    desc: [
      "集盒app与药盒为一体的智能药盒提供了智能监督、提醒用户服药、智能提示服药的相关活动及健康恢复的指导，并在app端接入医疗平台和社区连接的数据分析。"
    ]
    logos: ["aiyiji_logo.png"]
  -
    thumb: "miaogou_img.png"
    title: "妙购智能盒子"
    desc: [
      "妙购盒子革命性地实现了电视网络与“电视商务”的完美结合，用户可以利用零碎时间来观看广告获得积分。通过积分兑换妙购电视商城任意产品，也可以兑换高清视频，感受免费的视觉盛宴。"
    ]
    logos: ["miaogou_logo.png"]
  -
    thumb: "liaojiqi_img.jpg"
    title: "里奥机器人"
    desc: [
      "里奥的全身关节完全按照人形结构设计，使用可360度精确控制自由旋转的舵机，使得里奥能够如人一样行走、跳跃、舞蹈，与儿童进行玩耍互动。",
      "借助机器人技术，里奥机器人涵盖了智能早教、亲子教育、通信沟通和视频监控等的全方位功能。"
    ]
    logos: ["liaojiqi_logo.png"]
  -
    thumb: "kangjiedeng_img.jpg"
    title: "KJD智能家居"
    desc: [
      "基于zigbee技术的物联网智能家居系统，你可以根据自身的需要自由组合或DIY，所有的安装都不需要专业人员的参与，一个普通的消费者即可完成，而整过系统的安装完成过程一般不超过半个小时，包括： 无线网关、智能照明、无线红外转发器、无线安防（智能锁、无线监控）等。"
    ]
    logos: ["kangjiedeng_logo.png"]
  -
    thumb: "ise_img.jpg"
    title: "ISE智能家居组合"
    desc: [
      "ISE智能家居组合，通过智能手机实时控制和查看状态，按预设条件自动控制。无需布线、装修、一秒钟开启智能生活，同时按照自身需求将产品自由组合以及拓展ISE其他智能产品，轻松享受舒适便捷、安全节约、健康环保的未来智能生活，通过技术和人性的完美结合，带给用户舒适、简洁、健康、环保、安全的极致生活体验。"
    ]
    logos: ["ise_logo.png"]
  -
    thumb: "orangelink_img.jpg"
    title: "Orangelink宠物宝"
    desc: [
      "桔子宠物宝通过成熟、稳定的通讯技术，将宠物喂食器连接到了互联网的世界。在手机上可随时随地管理宠物宝的所有功能：如随意喂食、定时喂食、实时视频观看宠物，查看宠物的用食记录，分析宠物的用食习惯，查看粮食的剩余重量，获取每月的喂食统计等等。"
    ]
    logos: ["orangelink_logo.jpg"]
  -
    thumb: "mumu_img.jpg"
    title: "上臂式无线电子血压计"
    desc: [
      "支持iOS和Android双系统的无线电子血压计，采用蓝牙连接手机，轻松测量血压、心率等检测结果和健康分析走势图，还可以跟踪和共享个人和家人的健康数据！一次充电可测量60次以上，待机时间可长达90天！"
    ]
    logos: ["mumu_logo.png"]
  -
    thumb: "face_img.jpg"
    title: "智能肌肤水油检测仪"
    desc: [
      "“脸蛋”是专为你的美丽肤肤开发的一款智能测试仪，通过和手机APP结合，帮助你精确掌握肌肤水分状态，从而更精确的选择护肤品和正确的护理项目。"
    ]
    logos: ["face_logo.jpg"]
  -
    thumb: "ryfit_img.jpg"
    title: "云悦智能体质分析仪"
    desc: [
      "云悦体质分析仪能存储9名用户的数据，实现自动识别用户身份并完成10项体征数据的检测，包括体重、BMI指数、脂肪率、皮下脂肪指数、内脏脂肪指数、肌肉率、基础代谢率、骨骼重量、水含量、身体年龄。这些数据的检测，对“未病”预警和科学瘦身起到至关重要的作用。"
    ]
    logos: ["ryfit_logo.jpg"]
  -
    thumb: "hzx_img.jpg"
    title: "智能扫地机器人"
    desc: [
      "洁特美智能保洁机器人是利用红外线遥感技术实现一键式非人工控制运作——自动感应灰尘、纸屑、杂物，功率自控，状态自控,自动回充，定时清扫，多种工作程序自动切换，智能防跌落，等等多种智能感应功能。"
    ]
    logos: ["hzx_logo.png"]
---

extends _layout

block content
  .banner
    .cont
      h2 客户案例

  // Start: 案例列表
  .case-list
    ul
      each item in cases
        li
          .thumb
            img(src="#{current.base}images/cases/thumbs/#{item.thumb}", alt="")
          h3= item.title
          .desc
            each paragraph in item.desc
              p= paragraph
          if item.logos
            .logos
              each logo in item.logos
                img(src="#{current.base}images/cases/logos/#{logo}", alt="")
  // End: 案例列表
