---
page_title: "客户案例"
stylesheets: ["case"]
body_class: ["case-page"]
cases:
  -
    thumb: "lidaxin_img.png"
    title: "立达信智能照明系统"
    desc: [
      "立达信绿色照明股份有限公司专注于LED灯、智能照明系统等绿色照明产品研发、生产及销售；公司LED产品月产量1200万只，LED产品出口量居全国行业第一。立达信的智能照明产品销往全球，不仅是照明领域的领军品牌，更是绿色环保理念的鼓动者，它引领照明科技发展，推动人类进入一个舒适、健康、节能的光世界。",
    ]
    logos: ["lidaxin_logo.png", "lidaxin_logo2.png"]
  -
    thumb: "milknanny_img.png"
    title: "Milk Nanny智能冲奶机"
    desc: [
      "Milk Nanny是第一款可联网的自动冲奶机，同市面上众多冲奶机相比，Milk Nanny操作更简便，且冲出的牛奶很少有结块。",
      "此款机器支持联网搭配手机使用，在冲奶之前，只需要在Milk Nanny的APP中输入了孩子的出生日期后，用APP扫描奶粉罐上的条形码，机器就知道应该如何为婴儿冲调合适的奶粉量。此外， APP还可以记录每天婴儿的饮食记录，帮助父母发现异常。"
    ]
    logos: ["milknanny_logo.png"]
  -
    thumb: "aiyiji_img.png"
    title: "爱易记智能药盒"
    desc: [
      "集盒app与药盒为一体的智能药盒提供了智能监督、提醒用户服药、智能提示服药的相关活动及健康恢复的指导，并在app端接入医疗平台和社区连接的数据分析。"
    ]
    logos: ["aiyiji_logo.png"]
  -
    thumb: "miaogou_img.png"
    title: "妙购智能盒子"
    desc: [
      "妙购盒子革命性地实现了电视网络与“电视商务”的完美结合，用户可以利用零碎时间来观看广告获得积分。通过积分兑换妙购电视商城任意产品，也可以兑换高清视频，感受免费的视觉盛宴。"
    ]
    logos: ["miaogou_logo.png"]
  -
    thumb: "liaojiqi_img.jpg"
    title: "里奥机器人"
    desc: [
      "里奥的全身关节完全按照人形结构设计，使用可360度精确控制自由旋转的舵机，使得里奥能够如人一样行走、跳跃、舞蹈，与儿童进行玩耍互动。",
      "借助机器人技术，里奥机器人涵盖了智能早教、亲子教育、通信沟通和视频监控等的全方位功能。"
    ]
    logos: ["liaojiqi_logo.png"]
  -
    thumb: "kangjiedeng_img.jpg"
    title: "KJD智能家居"
    desc: [
      "基于zigbee技术的物联网智能家居系统，你可以根据自身的需要自由组合或DIY，所有的安装都不需要专业人员的参与，一个普通的消费者即可完成，而整过系统的安装完成过程一般不超过半个小时，包括： 无线网关、智能照明、无线红外转发器、无线安防（智能锁、无线监控）等。"
    ]
    logos: ["kangjiedeng_logo.png"]
  -
    thumb: "ise_img.jpg"
    title: "ISE智能家居组合"
    desc: [
      "ISE智能家居组合，通过智能手机实时控制和查看状态，按预设条件自动控制。无需布线、装修、一秒钟开启智能生活，同时按照自身需求将产品自由组合以及拓展ISE其他智能产品，轻松享受舒适便捷、安全节约、健康环保的未来智能生活，通过技术和人性的完美结合，带给用户舒适、简洁、健康、环保、安全的极致生活体验。"
    ]
    logos: ["ise_logo.png"]
  -
    thumb: "orangelink_img.jpg"
    title: "Orangelink宠物宝"
    desc: [
      "桔子宠物宝通过成熟、稳定的通讯技术，将宠物喂食器连接到了互联网的世界。在手机上可随时随地管理宠物宝的所有功能：如随意喂食、定时喂食、实时视频观看宠物，查看宠物的用食记录，分析宠物的用食习惯，查看粮食的剩余重量，获取每月的喂食统计等等。"
    ]
    logos: ["orangelink_logo.jpg"]
  -
    thumb: "bong_img.jpg"
    title: "智能手环"
    desc: [
      "bong多彩手环拥有更好的睡眠监测和建议提醒，在运动模式中bong能随时感受到你的运动状态，给予你实时的震动激励。",
      "丰富的睡眠建议：运动、饮食、生活习惯，完全以你的真实睡眠信息为依据；每一天，都可以享受在浅睡眠中被手环震动，轻轻唤醒。"
    ]
    logos: ["bong_logo.jpg"]
  -
    thumb: "lexin_img.jpg"
    title: "乐心血压计"
    desc: [
      "乐心GPRS远程血压计无需电脑和连线，每次测量后，数据将自动上传至您在乐心健康中心的账户，并同时至达至您手中的APP。以曲线呈现父母的血压数据，方便您直观的了解父母的血压变化趋势，更有利于医生准确地判断血压的严重程度。"
    ]
    logos: ["lexin_logo.jpg"]
  -
    thumb: "mumu_img.jpg"
    title: "上臂式无线电子血压计"
    desc: [
      "支持iOS和Android双系统的无线电子血压计，采用蓝牙连接手机，轻松测量血压、心率等检测结果和健康分析走势图，还可以跟踪和共享个人和家人的健康数据！一次充电可测量60次以上，待机时间可长达90天！"
    ]
    logos: ["mumu_logo.png"]
  -
    thumb: "face_img.jpg"
    title: "智能肌肤水油检测仪"
    desc: [
      "“脸蛋”是专为你的美丽肤肤开发的一款智能测试仪，通过和手机APP结合，帮助你精确掌握肌肤水分状态，从而更精确的选择护肤品和正确的护理项目。"
    ]
    logos: ["face_logo.jpg"]
  -
    thumb: "ryfit_img.jpg"
    title: "云悦智能体质分析仪"
    desc: [
      "云悦体质分析仪能存储9名用户的数据，实现自动识别用户身份并完成10项体征数据的检测，包括体重、BMI指数、脂肪率、皮下脂肪指数、内脏脂肪指数、肌肉率、基础代谢率、骨骼重量、水含量、身体年龄。这些数据的检测，对“未病”预警和科学瘦身起到至关重要的作用。"
    ]
    logos: ["ryfit_logo.jpg"]
  -
    thumb: "eading_img.jpg"
    title: "遥控者智能插座"
    desc: [
      "一丁遥控者智能插座是一款通过无线、语音、红外网络实现远程控制的智能设备，可以对家电进行智能遥控，远程wifi开关，定时保护，让我们一起进入超级智能生活。"
    ]
    logos: ["eading_logo.png"]
  -
    thumb: "hzx_img.jpg"
    title: "智能扫地机器人"
    desc: [
      "洁特美智能保洁机器人是利用红外线遥感技术实现一键式非人工控制运作——自动感应灰尘、纸屑、杂物，功率自控，状态自控,自动回充，定时清扫，多种工作程序自动切换，智能防跌落，等等多种智能感应功能。"
    ]
    logos: ["hzx_logo.png"]
---

extends _layout

block content
  .banner
    .cont
      h2 客户案例

  // Start: 案例列表
  .case-list
    ul
      each item in cases
        li
          .thumb
            img(src="#{current.base}images/cases/thumbs/#{item.thumb}", alt="")
          h3= item.title
          .desc
            each paragraph in item.desc
              p= paragraph
          .logos
            each logo in item.logos
              img(src="#{current.base}images/cases/logos/#{logo}", alt="")
  // End: 案例列表
