---
page_title: "开发者"
stylesheets: ["developer"]
body_class: ["developer-page"]
downloads:
  -
    icon: "document"
    title: "开发文档"
    desc: "云智易平台提供了丰富的接口，将服务能力开放给上层应用和第三方系统"
    links:
      -
        text: "浏览开发者文档"
        url: "http://support.xlink.cn/"
  -
    icon: "app"
    title: "APP SDK下载"
    desc: "云智易提供了Android和iOS平台的SDK和开发文档，协助开发者快速完成应用程序的接入"
    links:
      -
        text: "IOS SDK"
        url: "http://support.xlink.cn/"
      -
        text: "Anriod SDK"
        url: "http://support.xlink.cn/"
  -
    icon: "mcu"
    title: "MCU SDK下载"
    desc: "基于云智易的无线通讯模块，厂商可以轻松实现与任意MCU的集成，为设备增加可连接的特性"
    links:
      -
        text: "MCU SDK下载"
        url: "http://support.xlink.cn/"
---

extends _layout

block content
  .banner
    .cont
      h2 接入云智易平台
      h3 云智易平台为合作伙伴和开发者提供了相关的SDK、开发文档以及开发板，让接入更加轻松、简单、快捷

  // Start:
  .section-group
    .container
      .section#developer-download
        .section-bd
          each item in downloads
            .download
              i(class="icon-#{item.icon}")
              h4= item.title
              p= item.desc
              .actions
                each link in item.links
                  a(href="#{link.url}", target="_blank")= link.text
  // End: 开发者下载

  // Start: 开发板
  .section-group.developer-demoboard
    .container
      .section#developer-demoboard
        .section-hd 云智易开发板
        .section-bd
          h4 云智易开发板可适配多个厂商的WIFI模组，板载温湿度传感器、三色灯、红外转码器、光敏传感器、测试电机等部件，并且内置了云智易通讯SDK模块，可以满足绝大部分应用场景的开发需求。
          .demoboard
              img(src="#{current.base}images/demoboard.jpg")
          .demoboard
              a.btn.btn-primary.btn-lg(href="http://support.xlink.cn/", target="_blank") 了解详情
  // End: 开发板