---
page_title: "首页"
stylesheets: ["index"]
body_class: ["home-page"]
functions:
  -
    icon: "connect"
    label: "设备连接"
  -
    icon: "manage"
    label: "设备管理"
  -
    icon: "user"
    label: "用户管理"
  -
    icon: "warning"
    label: "告警服务"
  -
    icon: "longrange"
    label: "远程诊断"
  -
    icon: "upgrade"
    label: "固件升级"
  -
    icon: "collect"
    label: "数据收集"
  -
    icon: "excavate"
    label: "数据挖掘"

services:
  -
    icon: "lowcost"
    label: "快速&低成本"
    desc: "您最快只需1周时间，成本低至30％，即可让产品实现智能互联， 使用上成熟的已大规模商用的物联平台"
  -
    icon: "netural"
    label: "中立&开放"
    desc: "已对接微信、Google Nest、Homekit平台实现智能互联，支持您的业务系统对接，实现业务运营升级"
  -
    icon: "netural"
    label: "全球化后端"
    desc: "无论您的产品和用户身处何处，均可得到可靠的云端服务，全球化的部署支持，涵盖亚太、北美/南美、欧洲等热点区"
  -
    icon: "oneforone"
    label: "一对一服务"
    desc: "企业级定制化方案能力，百人专业培训的应用"

media_reports:
  -
    text: "容联咻咻验证码助力“饿了么”突围烧钱大战"
    url: "#"
  -
    text: "容联云通讯发布IM Plus，创领最强即时通讯云"
    url: "#"
  -
    text: "容联携数款语音产品助力PP租车 打造极致“租车”体验"
    url: "#"
  -
    text: "做IM即时通讯先锋 容联云通讯打造用户无障碍沟通"
    url: "#"
  -
    text: "互联网企业推广送“嘿嘿流量”是种怎样的体验？"
    url: "#"


---

extends _layout

block content
  .banner-home
    .cont
      h2 云智易，让智能更容易！
      h3 一站式的企业物联平台
      .actions
        a.btn.btn-primary.btn-lg(href="#") 免费开通服务

  // Start: 智能化时代
  .main-smart
    .container
      h3 从容应对智能化时代
      p
        | 您只需，专注于您的产品创新，云智易为您提供强有力、全方位的云平台和技术支持，
        br
        | 贴心满足各行各业的物联网+ 需求，助您先智于人
      ul.smart-icons
        each item in functions
          li
            i(class="icon-#{item.icon}")
            span= item.label
  // End: 智能化时代

  // Start: 物联网服务
  .main-service
    .container
      h3 提供专业的物联网+服务
      ul.service-icons
        each list in services
          li
            i(class="icon-#{list.icon}")
            h4= list.label
            p= list.desc
  // End: 物联网服务

  // Start: 免费开通
  .main-opening
    .container
      .sec.mr70
        span 企业
        em 5000+
      .sec.mr60
        span 服务设备量
        em 750万+
      .sec.mr30
        span 每天消息发送量
        em 1600万+
      .sec
        a.btn.btn-lg.btn-pill(href="#") 立即免费开通
  // End: 免费开通

  // Start: 云智易物联平台
  .main-cooperation
    .container
      h3 5000+
      p 超过5000家客户和合作伙伴信任、使用云智易物联平台
      .customer
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
        img(src="#{current.base}images/brand_leedarson.jpg")
  // End: 云智易物联平台

  // Start: 媒体报道
  .main-media
    .container
      h4 媒体报道
      ul.media-report
        each item in media_reports
          li
            a(href="#{item.url}")= item.text
      .media-pictures
        .picture
          a(href="#")
           img(src="#{current.base}images/zulily.jpg")
           span 阿里投资的电商 Zulily 是如何迅速
        .picture
          a(href="#")
            img(src="#{current.base}images/googlex.jpg")
            span 生命科学部门脱离 Google X


  // End: 媒体报道
