---
page_title: "智能家居方案"
stylesheets: ["furnishing"]
body_class: ["furnishing-page"]
content_nav:
  -
    anchor: "platform-summary"
    label: "平台概览"
  -
    anchor: "cloud-service"
    label: "云端服务"
  -
    anchor: "software-service"
    label: "软件开发服务"
  -
    anchor: "chip-service"
    label: "芯片对接服务"
  -
    anchor: "other-service"
    label: "其他服务"
  -
    anchor: "service-model"
    label: "服务模式"
  #-
    #anchor: "solution-case"
    #label: "客户案例"
clouds:
  -
    icon: "service-connect"
    title: "设备连接"
    desc: "实时获取设备状态和数据，实现远程连接和控制"
  -
    icon: "service-inter"
    title: "设备互联"
    desc: "与其它设备或第三方平台，实现设备联动和监控"
  -
    icon: "service-manage"
    title: "设备管理"
    desc: "设备档案、在线状态、在线数量、激活时间等状态管理"
  -
    icon: "user-manage"
    title: "用户管理"
    desc: "对设备对应的多用户状态、行为进行管理与运营"
  -
    icon: "data-collect"
    title: "数据采集"
    desc: "支持自定义任意维度和指标的数据采集方式"
  -
    icon: "count-analysis"
    title: "统计分析"
    desc: "设备和用户行为实现统计、实时分析和离线分析"
  -
    icon: "msg-push"
    title: "消息推送"
    desc: "设备和用户信息营销下发，支持链接、文字等格式"
  -
    icon: "application-manage"
    title: "应用管理"
    desc: "设备对应的APP、Html5等应用的发布、更新等管理"
  -
    icon: "wanrning-service"
    title: "告警服务"
    desc: "包括检测项、检测点、告警规则等，自定义通知"
  -
    icon: "remote-diagnosis"
    title: "远程诊断"
    desc: "设备信息管理、远程诊断、远程调试、固件升级等"
  -
    icon: "operate-module"
    title: "运营模块"
    desc: "用于设备及用户的延伸服务运营，包含内容运营等"
  -
    icon: "more-plugin"
    title: "更多插件"
    desc: "菜谱管理、在线咨询、微信商城、售后服务管理等插件"
services:
  -
    icon: "saas"
    desc:
      -
        title: "按需付费"
        text: "按设备量接入量收费"
      -
        title: "成本低"
        text: "无需投入IasS费用和运维服务费用"
      -
        title: "免费持续服务"
        text: "每台设备一次性缴费，无需续费"
  -
    icon: "paas"
    desc:
      -
        text: "独立部署与客户服务器资源之上"
      -
        text: "购买服务器端基础套件和授权包"
      -
        text: "可提供IasS选型，部署和运维服务一条龙服务"
  -
    icon: "saas_paas"
    desc:
      -
        text: "先SaaS，到达一定规模后客户可选择转为PasS"
      -
        text: "确保已发售设备的数据迁移，不影响客户使用"
      -
        text: "前期按SaaS交费，后期购买PasS套件和新增授权，已交费授权无需重复交费，可免费迁移"
cases:
  -
    img: "leedarson"
    title: "立达信智能照明/智能家居套装"
    summary: "立达信专注于电子节能灯、LED灯具、智能照明等绿色照明产品研发、生产及销售，立达信、海德信和立莱为旗下三大自主照明品牌，平均每月出货量不低于1000万只。"
    descs:
      -
        text: "云智易解决了之前自建平台商业化应用的问题，提供了完整的智能照明系统云端平台解决方案。"
      -
        text: "基于云智易平台，实现与Nest平台设备互联互通，打造了温度与照明联动控制，拓展了海外市场应用 。"
  -
    img: "ast"
    title: "芯联智智能家居套装"
    summary: "微信智能家居系统采用zigbee连接方案，实现在微信端对zigbee网关、智能灯、插座、门磁、遥控器、报警器等一整套家庭设备的连接控制。"
    descs:
      -
        text: "云智易为产品提供了微信连接控制解决方案。"
      -
        text: "基于平台技术优势，实现多协议硬件与微信间的互联互通以及设备服务能力。"
      -
        text: "基于html5的形式，实现整套页面的调用。"
  -
    img: "me"
    title: "运营商 - 上海电信研究院"
    summary: "“悦me”是中国电信为智慧家庭用户提供的家庭信息化服务综合解决方案，悦me网关是智慧家庭的核心终端，该产品作为“光猫+智能路由器”的集合体，采用全新硬件、外观及智能网关操作系统，并集成丰富设备接口和智能应用，包括智能家居、智慧生活等；可满足中高端家庭用户未来智能化的需求。"
    descs:
      -
        text: "云智易为“悦me”网关提供了智慧家庭云端服务解决方案,共同运营，云智易参与运营分成。"
      -
        text: "通过云平台服务，实现网关作为智能家居的控制中心，让所有家用设备都智能起来，实现家庭生活更加安全，节能，智能，便利和舒适。"
      -
        text: "云智易定制开发了悦me网关控制管理系统，实现智能家居应用的业务逻辑处理及通讯协议转换。"
      -
        text: "将平台上的厂商产品导入“悦me”渠道，形成共赢。"
---

extends ../_layout

block content
  .banner
    .cont
      h2
        | 智能家居云平台
        span 解决方案
      h3 应用场景包括：照明、电工、家庭安防、环境监测、家庭能源管控等

  // Start: 内容导航
  nav.content-nav
    each link, index in content_nav
      a(href="##{link.anchor}")= link.label
      unless index == content_nav.length - 1
        i |
  // End: 内容导航

  // Start: 平台概览
  .section-group
    .container
      .section.platform-summary#platform-summary
        .section-hd 平台概览
        .section-bd
            h4 云智易智能家居业务 - 整体服务架构
            .img-center
              img(src="#{current.base}images/furnishing/logos/furnishing_platform.jpg")
  // End: 平台概览

  // Start: 软件开发服务
  .section-group.software-service
    .container
      .section#software-service
        .section-hd 软件开发服务
        .section-bd
          .service
            h3 硬件端开发服务（网关&WiFi单品）
            h4 云智易提供灵活的应用端架构，支持WiFi单品接入，也支持网关模式的多设备接入。并内置智能链路策略，能够自适应内外网的连接方式，轻松满足多样化的应用场景。
            .img-center
              img(src="#{current.base}images/furnishing/logos/software_service.png")
          .service.app_service
            h3 APP开发服务
             .img-center
                img(src="#{current.base}images/furnishing/logos/app_service.png")
  // End: 软件开发服务

  // Start: 云端服务
  .section-group
    .container
      .section.cloud-service#cloud-service
        .section-hd 云端服务
        .section-bd
          each item in clouds
            .cloud
              i(class="icon-#{item.icon}")
              .cloud-text
                h4= item.title
                p= item.desc
  // End: 云端服务

  // Start: 芯片对接服务
  .section-group.chip-service
    .container
      .section#chip-service
        .section-hd 芯片对接服务
        .section-bd
          .chip
            h4 多协议支持
            p 云智易提供成熟、兼容性强的嵌入式通讯模块，无论是WiFi、BLE智能单品，还是采用Zigbee、RF或ZWave协议的网关，可以任意选择适合您的IOT芯片
          .chip
            h4 多芯片支持
            .img-center
              img(src="#{current.base}images/furnishing/logos/chip_support.png")
  // End: 芯片对接服务

  // Start: 其他服务
  .section-group.other-service
    .container
      .section#other-service
        .section-hd 其他服务
        .section-bd
          .other
            h4 平台对接服务
            .img-center
              img(src="#{current.base}images/furnishing/thumbs/platform_service.png")
          .other.other-source
            h4 资源服务
            .img-center
              img(src="#{current.base}images/furnishing/logos/source_service.png")
  // End: 其他服务

  // Start: 服务模式
  .section-group.service-model
    .container
      .section#service-model
        .section-hd 服务模式
        .section-bd
          each item,index in services
            .model(class="#{ index == services.length - 1 ? 'last-item' : ''}")
              .model-img
                img(src="#{current.base}images/furnishing/thumbs/#{item.icon}.png")
              ul
                each lis in item.desc
                  li
                    if lis.title
                      h6= lis.title
                    span= lis.text



  // End: 服务模式

  //- Start: 合作案例
    .section-group.solution-case
      .container
        .section#solution-case
          .section-hd 合作案例
          .section-bd
            each item in cases
              .case
                .case-thumbs
                  img(src="#{current.base}images/furnishing/thumbs/#{item.img}.png")
                .case-desc
                  h4= item.title
                  p= item.summary
                  ul
                    each lis in item.descs
                      li= lis.text
  //- End: 合作案例