---
page_title: "智能生活家电解决方案"
stylesheets: ["smart-life"]
body_class: ["smartlife-page"]
content_nav:
  -
    anchor: "smart-plan"
    label: "智能生活家电方案"
  -
    anchor: "evolution-process"
    label: "生活家电演变过程"
  -
    anchor: "supply-ability"
    label: "我们提供的能力"
  -
    anchor: "solution-case"
    label: "合作案例"

processes:
  -
    name: "situation"
    title: "产品现状"
    descs:
      -
        text: "1.由机械、电子器件和相关材料构成，部分自带交互界面；"
      -
        text: "2.不联网，孤立的产品。"
    img: "smartleft_situation"
  -
    name: "product"
    title: "智能互联产品"
    descs:
      -
        text: "1.通过网络连接实现远程数据交互;"
      -
        text: "2.能够在产品实体意外实现更多的功能特性；"
      -
        text: "3.能够与外界其他的产品或系统实现对接和互动，增进产品本身的创新、价值。"
    img: "smartleft_product"
  -
    name: "operate"
    title: "服务化运营"
    descs:
      -
        text: "1.可触达用户；"
      -
        text: "2.基于可连接产品的延伸应用服务;"
      -
        text: "3.全新的产品营销渠道;"
      -
        text: "4.形成可控、独特的运营体系。"
    img: "smartleft_operate"

abilities:
  -
    name: "creative"
    title: "产品创新"
    another: "product-creative"
    descs:
      -
        text: "快速智能化，改善体验"
      -
        text: "加入/构建智能产品体系"
      -
        text: "实现产品和服务差异化"
  -
    title: "应用服务"
    another: "application-dservice"
    descs:
      -
        text: "新的延伸应用服务"
      -
        text: "用户管理，可触达"
      -
        text: "降低产品和服务成本"
  -
    name: "system"
    title: "运营体系"
    another: "operate-system"
    descs:
      -
        text: "获得产品和用户数据"
      -
        text: "基于数据优化产品/决策"
      -
        text: "用户营销体系，提高粘度"
      -
        text: "新产品、服务推送"
  -
    title: "面临的挑战"
    descs:
      -
        text: "高并发&可扩展的平台"
      -
        text: "高安全、可靠、可商用"
      -
        text: "全球化云端服务能力"
      -
        text: "服务整合、多元化渠道"

cases:
  -
    name: "deerma"
    img: "deerma"
    title: "德尔玛"
    summary: "德尔玛（DEERMA）电器有限公司精准定位于“空气质量改善类电器专家”、“清洁、蒸汽类电器专家”的战略高度，以创新的经营策略，坚持走“创意、时尚、高科、高效”的产品路线，致力于向全球范围供应时尚、创意且高性比的生活电器。其产品销售量在京东、阿里等电商平台中稳居品类第一。"
    descs:
      -
        text: "云智易为德尔玛旗下智能化生活家电产品提供云平台和软件服务，快速实现德尔玛加湿器、健康秤等产品的快速创新，并快速对接微信等公共平台，辅助德尔玛进行运营。"
  -
    name: "milknanny"
    img: "milk_nanny"
    title: "Milk Nanny冲奶机"
    summary: "Milk Nanny智能冲奶机是一款可联网的自动冲奶机，支持联网搭配手机使用。在冲奶之前，在Milk Nanny的APP中输入了孩子出生日期，用APP扫描奶粉罐上的条形码，机器就自动为婴儿冲调合适的奶粉量。同时APP还可记录每天婴儿的饮食记录，帮助父母发现异常。"
    descs:
      -
        text: "云智易为智能冲奶机提供了WiFi通讯联网固件，以及云平台的整体解决方案。"
      -
        text: "利用云智易的多平台互通技术，实现与海尔U+平台互通，扩充产品销售渠道，增强品牌效应。"
      -
        text: "将借力云平台的O2O服务资源，提升母婴行业服务能力。"
  -
    name: "lifesmart"
    img: "life_smart"
    title: "LifeSmart暖风机"
    summary: "LifeSmart暖风机是一款基于wifi的智能暖风机设备，通过智能APP的控制终端实现对设备的定时开关机、暖风模式设定，温度设定以及实时采集环境温度达到节能的应用场景。"
    descs:
      -
        text: "云智易为产品提供了APP数据端到云端解决方案。"
      -
        text: "基于云平台优势，实现设备内外网自动切换。"
      -
        text: "对接国外客户，产品交互设计依用户特征量身订做。"
  -
    name: "aiyiji"
    img: "aiyiji"
    title: "爱易记智能药盒"
    summary: "爱易记药盒是一款基于蓝牙通讯，集APP与药盒为一体的智能药盒。提供智能监督、提醒用户服药、智能提示服药的相关活动及健康恢复的指导。希望在APP端接入医疗平台和社区连接的数据分析。"
    descs:
      -
        text: "云智易为智能药盒提供了APP数据端到云端解决方案。"
      -
        text: "基于云平台优势，实现医疗服务导入，并借力平台的社区诊所，打造全新的销售渠道。"
      -
        text: " 积极利用平台内资源，在线咨询，O2O服务。"
---

extends ../_layout

block content
  .banner
    .cont
      h2 智能生活家电解决方案

  // Start: 内容导航
  nav.content-nav
    each link, index in content_nav
      a(href="##{link.anchor}")= link.label
      unless index == content_nav.length - 1
        i |
  // End: 内容导航

  // Start: 智能生活家电方案
  .section-group
    .container
      .section#smart-plan
        .section-hd 智能生活家电方案
        .section-bd
            p 对于众多的家电企业每年生产的产品，销售到哪、谁在使用，用得怎样。。等等不得而知，产品一经售出基本就与厂商脱离了联系，直接切断了延时服务的可能以及潜在的持续服务价值。借助可连接的产品、可触达的用户，厂商既可增加产品创新价值，提升售后服务品质，也可以充分挖掘数据价值；拓展新的商业和服务模式。
  // End: 智能生活家电方案

  // Start: 生活家电演变过程
  .section-group
    .container
      .section#evolution-process
        .section-hd 生活家电演变过程
        .section-bd
          each item in processes
            div(class="process-#{item.name}")
              h4(class="title-#{item.name}")= item.title
              ul
                each lis in item.descs
                  li= lis.text
              div(class="img-#{item.img}")
                img(src="#{current.base}images/#{item.img}.jpg")
  // End: 生活家电演变过程

  // Start: 我们提供的能力
  .section-group
    .container
      .section#supply-ability
        .section-hd 我们提供的能力
        .section-bd
          each item in abilities
            .ability
              h4(class="#{item.another}")= item.title
              ul
                each lis in item.descs
                  li= lis.text
  // End: 我们提供的能力

  // Start: 合作案例
  .section-group.solution-case
    .container
      .section#solution-case
        .section-hd 合作案例
        .section-bd
          each item in cases
            .case
              div(class="img-#{item.name}")
                img(src="#{current.base}images/#{item.img}.jpg")
              div(class="dialog-#{item.name}")
                h4= item.title
                p= item.summary
                ul
                  each lis in item.descs
                    li= lis.text
  // End: 合作案例